.jumbotron > h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 60px
  /* background-color: #e3dfc8; */
}

.jumbotron {
  background-color: #84a9ac;
}

.d-flex {
  display: flex;
}

.iconimage {
  font-size: 15px
}

.discription > p {
  font-size: 14px;
  margin: 0 20px;
}

.experience > h2 {
  margin: 10 20px;
  font-size: 18px;
}

.resume_section-content_item {
    padding-bottom: 16px;
    padding-left: 36px;
    margin-bottom: 16px;
}

.resume_section-content_item > h3 {
  font-weight: bold;
}

.resume_section-content_item {
    clear: left;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.resume_section-content_item:before {
    content: "";
    position: absolute;
    margin-left: 0;
    top: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #8f96a3;
}

.resume_section-content_item:after {
    content: "";
    position: absolute;
    margin-left: 4px;
    top: 25px;
    bottom: 30px;
    border-left: 1px dashed #8f96a3;
}
